#banner{
	background-color: #aaaaaa;
	width: 100%;
	height: 50px;
	position: fixed;
}

.block{
	height: 50px;
	width: 100%;
}

.blockHalf{
	width: 100%;
	height: 25px;
}

.error{
	color: #C50000;
	font-family: sans-serif;
	font-size: 22px;
	padding: 6px;
	text-align: center;
}

#footer{
	background-color: #aaaaaa;
	width: 100%;
	height: 50px;
	top: calc(100% - 50px);
	position: relative;
	position: fixed;
}

#login{
	width: 110px;
	height: 38px;
	background-color: #fafafa;
	float: right;
	padding: 6px 16px 6px 16px;
	border: 1px solid #00bbff;
	margin: 6px;
	text-align: center;
	font-family: sans-serif;
	font-size: 22px;
	color: #00bbff;
}

#login:hover{
	border-color: #49cfff;
	color: #49cfff;
}

#register{
	width: 110px;
	height: 38px;
	background-color: #00bbff;
	float: right;
	padding: 6px 16px 6px 16px;
	border: 1px solid #00bbff;
	margin: 6px;
	text-align: center;
	font-family: sans-serif;
	font-size: 22px;
	color: #ffffff;
}

#register:hover{
	background-color: #49cfff;
	border-color: #49cfff;
}

#registerContainer{
	left: calc(50% - 150px);
	position: relative;
	width: 300px;
}

.inputRegister{
	width: 100%;
	height: 38px;
	padding: 7px 4px 7px 4px;
	font-size: 24px;
}

.submitButton{
	width: 100%;
	height: 38px;
	text-align: center;
	background-color: #00bbff;
	border: 1px solid #00bbff;
	padding: 6px 4px 6px 4px;
	font-size: 22px;
	font-family: sans-serif;
	color: #ffffff;
}

.submitButton:hover{
	background-color: #49cfff;
	border-color: #49cfff;
}

*{
	/*border:1px dashed blue;
	/* ^ Only for testing element boxes ^ */
	margin: 0;
	padding: 0;
	cursor: default;
	box-sizing: border-box;
}